@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	outline: none;	
}
header {
	background-color: #fff;
	border-bottom: 4px solid;
	border-bottom-color: #4f8db3;
	width: 100%;
	height: auto;
	float: left;
}
body {
	background-image: url('../img/page-background.png');
  scroll-behavior: smooth;
}
footer {
  font-family: 'Roboto Condensed', sans-serif;
  border-top: solid 4px #FDFF7C;
  background:linear-gradient(to bottom  , #FFFFFF, #9C9C9C);
  clear: both;
}
/*=========================================*/
/*=============MENU=======================*/
.logo {
	margin-top: 0.7%;
	margin-left: 0.7%;
	width: 32%;
	float: left;
}
.menu {
	float: left;
	margin-top: 2%;
    width: 40%;
    font-size: 25px;
}
.menu ul li {
	display: inline-block;
	padding: 2%;
	padding-bottom: 0;
}
.menu a {
	display: block;
	text-decoration: none;
	color: #537A89;
	transition:1s;
}
.menu a:hover{
	color:#F91253;
	font-size: 30px;
	transition:1s; 
}
.selected a {
	font-size: 30px;
	color: #FA4872;
}
/*=================SEARCH==========*/
.search {
	margin-top: 3%;
	float: left;
	width: 26%;
}
.stroka {
	background: url('../img/search2.png') no-repeat 1px 4px;
	border:solid 1px;
	border-color: #537A89;
	border-radius: 5px;	
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
    padding: 6px 14px 5px 28px;
    font-size: 18px;
    float: left;
    transition:1s;
}

.stroka:focus {
	border-color: #3CB0FA;
}
.search_button {
	width: 70px;
	height: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	/*border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;*/
	float: left;
	cursor: pointer;
	background-color: #7BE1FF;
	border:solid 1px;
	border-color: #668F9B;
	padding: 0 0 0 9px;
	transition:1s;
}
.search_button:hover {
	background-color: #1071D4;
	transition:1.5s;
}
/*===========Регистрация и Авторизация===========*/
#hiden, #user, #admin, #librarian, .loading_aut {
  display: none;
}
#user, #admin, #librarian {
  width: 20%;
}
#error-autorization {
  background-color: #660E0E;
  color: #051D46;
  width: 100%;
  font-size: 107%;
  display: none;
}
.loading_aut {
  float: right;
  margin-right: 5%;
  margin-top: 3%;
}
.reg form {
  display: block;
  float: left;
}
.reg {
  width: auto;
    margin-top: 1%;
	margin-right: 1%;	 	
	float: right;
  border:solid 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background:linear-gradient(to bottom, #FFFFFF, #CCCCCC);
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition:1s;
}
.reg p {
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 16px;
    color: #171717;
}
.reg p>a {
    float: right;
    text-decoration: none;
    color: #FFFFFF;
}
.reg p>a:hover {
    color: #EE1818;
}
.registration {
    margin-left: 10%;
	border:solid 1px #0BF110;
	background-color: #68FB6B;
	width: 100px;
	height: 35px;
	border-radius: 3px;
	transition:1s;
}
.registration:hover {
	cursor: pointer;
  -moz-box-shadow:0 0 10px #FFFFFF;
  -webkit-box-shadow:0 0 10px #FFFFFF;
  box-shadow:0 0 10px #FFFFFF;
	background-color: #07E53B;
	border-color: #D1FE00;
	transition:1s;
}
.autorization { 
  margin-left: 45%;
	border:solid 1px #2ACDFC;
	background-color: #7BE1FF;
	width: 100px;
	height: 35px;
	border-radius: 3px;
	transition:1s;
}
.autorization:hover {
	cursor: pointer;
	background-color: #499AEC;
	border-color: #5FDFFF;
  -moz-box-shadow:0 0 10px #FFFFFF;
  -webkit-box-shadow:0 0 10px #FFFFFF;
  box-shadow:0 0 10px #FFFFFF;
	transition:1s;
}
#hiden {
  margin-left: 10%;
}
#hiden ul {
  list-style: none;
}
.login-login {
  float: left;
  width: 200px;
  height: 35px;
  border:solid 1px;
  border-radius: 5px;
}
.login-login:focus {
  border-color: #4C9EFB;
  -moz-box-shadow:0 0 10px #FFFFFF;
  -webkit-box-shadow:0 0 10px #FFFFFF;
  box-shadow:0 0 10px #FFFFFF;
}
.login-password {
  float: left;
  width: 200px;
  height: 35px;
  border:solid 1px;
  border-radius: 5px;
}
.login-password:focus {
  border-color: #4C9EFB;
  -moz-box-shadow:0 0 10px #FFFFFF;
  -webkit-box-shadow:0 0 10px #FFFFFF;
  box-shadow:0 0 10px #FFFFFF;
}
.login-action {
  width: 200px;
  height: 35px;
  background-color: #A4DAFC;
  border-radius: 5px;
  border:solid 1px;
  margin-top: 1%;
}
.login-action:hover {
  background-color: #4FBDFC;
  cursor: pointer;
}
#error-autorization  {
  background-color: #FF7272;
}
/*=============================*/
/*============Content and Footer=======*/
.content {
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 3%;
  width: 50%;
  float: left;
  }
.paper {
    font-size: 20px;
  background-color: #FFFFFF;
  padding: 2%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.photo img {

  width: 50%;
  float: left;
  height: auto;
}
.content_footer {
  padding: 11px 0px 0px;
  max-width: 70%;
  margin: 0 auto;
  color: #191919;
}
.contacts h2 {
  color: #191919;
}
.contacts a {
  text-decoration: none;
  color: #191919;
}
.contacts a:hover {
  color: #FFFFFF;
}              
/*==
====Страничка с регистрацией=======*/
.reg-shapka {
  width: 100%;
  height: 50px;
  background-color: #696663;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.in-shapka {
  margin-left: 30%;
  padding-top: 10px;
  font-size: 20px;
  color: #FFFFFF;
}
.reg-bot {
  width: 100%;
  height: 50px;
  background-color: #696663;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  clear: both;
}
.in-shapka a {
  font-size: 20px;
  text-decoration: none;
  color: #CACACA;
}
.in-shapka a:hover {
  color: #FFFFFF;
}
.reg-aut {
  width: 35%;
  height: auto;
  float: left;
  margin-top: 3%;
  margin-left: 30%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 0;
}
.reg-aut form {
  margin-left: 17%;
  padding-bottom: 10%;
}
.pole_content {
 margin-top: 5%;
}
.pole {
  display: block;
  width: 70%;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.pole:focus {
  border-radius: 1px;
  border-color: #6DC2FD;
}

.button-reg {
  display: block;
  float: left;
  margin-left: 22%;
  margin-top: 3%;
  border:solid 1px;
  background-color: #2ACDFC;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  transition:1s;
}
.button-reg:hover {
  cursor: pointer;
  background-color: #062EB0;
  transition:0s;
}
.link-cancel {
  float: left;
  text-decoration: none;
  display: block;
  padding-top: 8px;
  padding-left: 15px;
  margin-left: 2%;
  margin-top: 3%;
  border:solid 1px;
  background-color: #FC4343;
  width: 85px;
  height: 25px;
  border-radius: 3px;
  color: #000000;
  transition:1s;
}
.link-cancel:hover {
  cursor: pointer;
  background-color: #940202;
  transition:0s;
}
#error-password1, #error-login,#error-login-brief,#error-login-long,
#error-login-correct,#error-email, #error-email-correct, #error-name,
#error-password2, #error-validate, #error-password-small,#error-login-unique,
#error-email-unique, #error-number-unique, #error-number, #error-login,
#error-password, #error-Nepassword, #false  {
  background-color: #F59292;
  color: #051D46;
  width: 75%;
  font-size: 120%;
  display: none;

}
#error-validate {
  float: left;
  margin-left: 17%;
}
#login {
  display: block;
}
.loading-login, .loading-email, .loading-number, .loading-ajax {
  display: none;
  
}

/*=================Админка======*/
#reg3 {
  width: 18%;
}
#reg3 .link-cancel {
  float: right;
}
.col-users {
  text-decoration: none;
  display: block;
  padding-top: 8px;
  padding-left: 15px;
  margin-left: 2%;
  margin-top: 3%;
  border:solid 1px;
  background-color: #F0F0F0;
  width: auto;
  height: 25px;
  border-radius: 3px;
  color: #000000;
  transition:0.2s;
}
.col-users:hover {
  cursor: pointer;
  background-color: #B3B3B3;
  transition:0.2s;
}
.col-users p {
  text-align: center;
  color: black;
}
/*==================================================*/
/*-------------------------User_table_from_users.php---------------*/
/*==========Таблица=========*/


.button_delete_from_table {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}
.button_delete_from_table:hover {
    color: #FF7070;
    transition:0.5s;
}
.button_change_from_table {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}
.button_change_from_table_users {
    color: #FF7070;
    transition:0.5s;
}
.table-table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  border:#ccc 1px solid;
  border-collapse:separate;
  display: block;
  float: left;
  margin-left: -18%;
  margin-top: 1%;
 
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
 
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
 
.table-table th {
  font-weight:bold;
  padding:16px 20px 17px 20px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
 
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.stable-table th:first-child{
  text-align: left;
  padding-left:15px;
}
.table-table tr:first-child th:first-child{
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
.table-table tr:first-child th:last-child{
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
.table-table tr{
  text-align: center;
  padding-left:20px;
}
.table-table tr td:first-child{
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
.table-table tr td {
  padding:13px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
 
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.table-table tr:nth-child(even) td{
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.table-table tr:last-child td{
  border-bottom:0;
}
.table-table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
.table-table tr:last-child td:last-child{
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
.table-table tr:hover td{
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
 
.table-table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
.table-table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
.table-table a:active,
.table-table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
/*================user.php==========================*/
.panel {
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
  display: none;
}
.podpanel {
  background-color: #FFFFFF;
  display: block;
  width: 30%;
  margin-left: 35%;
  height: auto;
  border-radius: 3%;
  margin-top: 7%;
  padding: 1%;
    transition: 1s;
}
.podpanel > .pole{
  margin-left: 10%;
}
.podpanel > p {
  margin-left: 10%;
}
.privileges select {
  border-radius: 4px;
  height: 30px;
  padding: 5px;
  border: 1px solid #CCC;
  font-size: 15px;
  line-height: 1;
  margin-top: 2%;
}
/*===============librarian_pay.php======================*/
.librarian_ponel {
  height: 20%;
  width: 30%;
  background-color: #FFFFFF;
  display: block;
  float: left;
  margin-left: 30%;
  margin-top: 5%;
  border:solid 2px #4f8db3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.librarian_ponel h2 {
  margin-left: 25%;
}
.numberUser, .numberBook {
  display: block;
  float: left;
}
.numberBook {
  margin-left: 5%;
}
.numberUser h3, .numberBook h3 {
  margin-left: 20%
}
.librarian_ponel p {
  width: 100%;
  margin-left: 5%;
  float: left;
}
.librarian_ponel > .stroka {
  display: block;
  float: left;
  margin-top: 5%;
  margin-left: 25%;
}
.librarian_search_window {
  display: block;
  float: left;
  width: 45%;
  border-bottom: solid 1px #66B3FB;
  border-right: solid 1px #66B3FB;
  border-left: solid 1px #66B3FB;
  height: auto;
  margin-left: 25%;
}
#error-search {
  background-color: #F59292;
  color: #051D46;
  width: 100%;
  font-size: 120%;
  display: none;
}
.search1 {
  float: left;
  display: block;
  margin-left: 15%;
  width: 100%;
  margin-top: 3%;
}
.librarian_window {
  float: left;
  display: none;
  margin-left: 15%;
  padding: 0%;
  width: 71%;
  height: 37%;
  border: solid 1px #22B144;
  border-radius: 3px;
}
.window1 {
  float: left;
  display: block;
  padding: 0;
  width: 50%;
  height: 100%;
  border-right: solid 1px #BABABA;
}
.window2 {
  float: left;
  display: block;
  padding: 0;
  width: 48%;
  height: 100%;
}
.librarian_button_search, .librarian_button_pay {
  float: left;
  display: block;
  margin-left: 15%;
  width: 71%;
  padding: 1%;
  background-color: #7BCFF0;
  transition: 0.5s;
}
.librarian_button_search:hover, 
.librarian_button_pay:hover {
  background-color: #53879B;
  cursor: pointer;
  color:#FFFFFF;
  transition: 0.5s;
}
.librarian_button_search:active, 
.librarian_button_pay:active
 {
  background-color: #53879B;
}
.librarian_button_pay {
  display: none;
}
.stroka_librarian {
  border:solid 1px;
  border-color: #537A89;
  border-radius: 5px; 
  padding: 6px 14px;
  font-size: 18px;
  float: left;
  transition:1s;
}
#numberBook, #numberBook2 {
  margin-left: 3%;
}
/*================catalog.php======================*/
.content_block {
    -moz-box-shadow:0 0 10px #000000;
    -webkit-box-shadow:0 0 10px #000000;
    box-shadow:0 0 10px #000000;
    background-color: #e6eeff;
    margin-top: 1%;
    width: 100%;
    display: block;
    float: left;
    border-radius: 10px;
}
.content_block img {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
}
.content_block img:hover {
    border: solid 1px;
    transition: 0.3s;
}
.title {
    padding-top: 3%;
    padding-bottom: 4%;
}
.title h4 {
    padding-top: 1%;
}
.content_block h2 {
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 3%;
    border-bottom: solid 1px;
    background-color: #f9eff9;
}
.link-download {
    float: right;
    margin-bottom: 2%;
    margin-right: 2%;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    padding-left: 15px;
    margin-top: 3%;
    border: solid 1px;
    background-color: #00fc1a;
    width: 85px;
    height: 25px;
    border-radius: 3px;
    color: #000000;
    transition: 1s;
}
.link-download:hover {
    background-color: #0D50CA;
    cursor: pointer;
}
/*=================Change===========================*/
.change {
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
    display: none;
}
/*================Selected on book.php==============*/
.select-tematic, .select-tematic2 {
    width: 75%;
    margin-left:10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 13px;
}

.createUDK p {
  margin-left: 10%;
}
.createUDK > .mini {
  font-size: 15px;
}
.button-books {
    display: block;
    margin-left: 65%;
    margin-top: 3%;
    border: solid 1px;
    background-color: #2ACDFC;
    width: 100px;
    height: 35px;
    border-radius: 3px;
    transition: 1s;
}
.link-books {
    float: left;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    padding-left: 15px;
    margin-left: 10%;
    margin-top: 3%;
    border: solid 1px;
    background-color: #FC4343;
    width: 85px;
    height: 25px;
    border-radius: 3px;
    color: #000000;
    transition: 1s;
}
.button-books:hover {
    background-color: #1b3650;
    cursor: pointer;
}
.link-books:hover {
    background-color: #1b3650;
    cursor: pointer;
}
#text {
    height: auto;
}
.file {
 margin-left: 10%;
}
.head_add_book {
    width: 108%;
    float: left;
    height: 40px;
    margin-top: -4%;
    margin-left: -4%;
    margin-bottom: 5%;
    display: block;
    background-color: #696663;
    border-top-left-radius:3%;
    border-top-right-radius:3%;
}
.head_add_book h2 {
    color: rgba(253, 253, 253, 1);
    margin-left: 25%;
}
/*===============librarian_pickup.php===============*/
.loading_polosa {
  display: none;
  float: left;
  margin-top: 10%;
  margin-left: 35%;
}
/*===============Search_result.php==================*/
#search {
    margin-left: 30%;
    width: 35%;
}
#stroka {
    background-color: #fdfdfd;
    width: 80%;
}
.checkboxes {
    float: left;
    width: 100%;
    margin-top: 2%;
}
/*===============Debtors============================*/
#update {
    float: right;
    margin-right: 50%;
    margin-top: -15%;
    width: 400px;
    height: 50px;
    font-size: 20px;
}
/*===============Adaptation=========================*/
@media screen and (min-width: 1920px) {
.podpanel {
  width: 25%;
  margin-left: 35%;
}
  }
@media screen and (min-width: 1366px) {
  .librarian_ponel {
  margin-left: 15%;
  width: 50%;
  }
}
@media screen and (max-width: 1250px) {
 .stroka {
  width: 60%;
 }
 .menu {
  font-size: 22px;
 }
 .menu a:hover {
  font-size: 25px;
 }
 .selected a {
  font-size: 25px;
 }
 .logo img {
  width: 80%;
 }

}
@media screen and (max-width: 1000px) {

}